<div class="cont">
  <div class="main">
    <h1 class="title">Task List</h1>
    <div class="addItem">
      <input [(ngModel)] = "newItem"  placeholder="add task" type="text" class="addText">
      <button (click) = "pushItem()">+</button>
      <button (click) = "pushItem()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
    </div>
    <ul class="task-list">
      <li [style.text-decoration] = style *ngFor = "let i of items; let ind = index">
        {{i}}
        
        <span (click) = "removeItem(ind)"><i class="fa fa-times" aria-hidden="true"></i></span>
        <span (click) = "completeItem(ind)" ><i class="fa fa-check" aria-hidden="true"></i></span>
      </li>
    </ul>
    <div class="completed">Completed</div>

  </div>
</div>